body {
    background-color: aliceblue;
    color: blue;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
.background {
    background-image: url(img/sunset.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    max-width: 100%; 
    height: auto;  
}
h1 {
    color: green;
}
.main-header {
    color: white;
}
.main-header {
    color: black;
}
#id {
    color: plum;
}

.head {
    background-color: brown;
    height: 30vh;
    width: 50vw;
}

.parent {
    border: 5px solid red;
    height: 500px;
    width: 500px;
    position: relative;
    margin-top: 200px;
  }
  .child {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


