body {
  background-color: #edf2f4;
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  max-width: 100%;
  height: auto;
  padding: 30px, 30px;
}

h1 {
  color: #2576B7;
  font-size: 40px;
}

h2 {
  color: #2A3A3B;
  text-align: center;
}

h3 {
    color: #094868 ;
    text-align: center;
}

h4 {
    color: #2E73B9;
    text-align: center;
}

.head {
    height: 10vh;
    width: 100vw;
    text-align: center;
  }

img {
  background-image: url(img/SouthIsland.jpg);
  background-image: url(img/Bali.jpg);
  background-image: url(img/Abruzzo.jpg);
  height: 100vh;
  max-width: 100%;
  height: auto;
  
}

.South Island {
  background-color: royalblue;
  width: 50vw;
  padding: 20px 8px 6px 7px;
}

#Abruzzo {
  width: 75vw;
  margin: 50px 8px 6px 20px;
  color: white;
  text-align: right;
  font-size: 5vh;
}

.parent {
  border: 10px solid #455854;
  height: 1600px;
  width: 1000px;
  position: relative;
  margin-top: 1000px;
  margin: auto;
  font-size: 20px;
  padding: 30px, 30px;
}

.parent2 {
    border: 10px solid #006AA7;
    height: 850px;
    width: 1000px;
    position: relative;
    margin: auto;
    font-size: 20px;
  }

  .parent3 {
    border: 10px solid #847562;
    height: 950px;
    width: 1000px;
    position: relative;
    margin: auto;
    font-size: 20px;
  }

.child {
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%, -50%);
}
