body {
    background-color: #688699;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
.background {
    b/ackground-image: url(img/sunset.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    max-width: 100%; 
    height: auto;  
}
h1 {
    color: #020202;
}
.head {
    background-color: #96A6B3;
    height: 30vh;
    width: 100vw;
}
.main-header {
    color: white;
}

#id {
    color: plum;
    color: #BA8E8D;
}

h2 {
    color: #C5A8A4;
}
.parent {
    border: 10px solid #BA8E8D;
    height: 500px;
    width: 500px;
    position: relative;
    margin-top: 200px;
  }
  .child {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


